# Домашнее задание 2 (5 баллов).

Все задания ниже имеют равный вес (5/16).

In [1]:
import pandas as pd

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [36]:
si = pd.read_csv("Students_info_0.csv", sep=",")
for i in range(1, 10):
    si1= pd.read_csv(f"Students_info_{i}.csv", sep=",")
    si=pd.concat([si, si1])

In [37]:
sm=pd.read_csv("Students_marks_0.csv", sep=",")
for i in range(1, 10):
    sm1= pd.read_csv(f"Students_marks_{i}.csv", sep=",")
    sm=pd.concat([sm, sm1])

In [38]:
df = pd.merge(si, sm, on="index", how="inner")
df

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,1,female,group C,some college,standard,completed,group1,69,90,88
2,2,female,group B,master's degree,standard,none,group1,90,95,93
3,3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,4,male,group C,some college,standard,none,group1,76,78,75
...,...,...,...,...,...,...,...,...,...,...
995,995,female,group E,master's degree,standard,completed,group10,88,99,95
996,996,male,group C,high school,free/reduced,none,group10,62,55,55
997,997,female,group C,high school,free/reduced,completed,group10,59,71,65
998,998,female,group D,some college,standard,completed,group10,68,78,77
999,999,female,group D,some college,free/reduced,none,group10,77,86,86

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [39]:
df = df[df.columns.drop("index")]
df.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
5,female,group B,associate's degree,standard,none,group1,71,83,78
6,female,group B,some college,standard,completed,group1,88,95,92
7,male,group B,some college,free/reduced,none,group1,40,43,39
8,male,group D,high school,free/reduced,completed,group1,64,64,67
9,female,group B,high school,free/reduced,none,group1,38,60,50

#### Задание 3. Выведите на экран размеры полученной таблицы

In [40]:
df.shape

(1000, 9)

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [53]:
t=df.describe()
t.drop(labels = ['count',  '25%', '50%', '75%'])

      math score  reading score  writing score
mean    66.08900      69.169000      68.054000
std     15.16308      14.600192      15.195657
min      0.00000      17.000000      10.000000
max    100.00000     100.000000     100.000000

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [57]:
print(df.isnull().any().any())

False

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [60]:
t=df.describe()
t.drop(labels = ['count',  '25%', '50%', '75%', 'std', 'min', 'max'])

      math score  reading score  writing score
mean      66.089         69.169         68.054

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [69]:
df1=df[df['test preparation course']=='completed']
df2=df[df['test preparation course']!='completed']

In [82]:
df1=df1.describe()
df1=df1.drop(labels = ['count',  '25%', '50%', '75%', 'std', 'min', 'max'])

df2=df2.describe()
df2=df2.drop(labels = ['count',  '25%', '50%', '75%', 'std', 'min', 'max'])
print(f'Средний балл студентов прошедших курс: \n{df1}')
print(f'\n\nСредний балл студентов НЕ прошедших курс: \n{df2}')

Средний балл студентов прошедших курс:
      math score  reading score  writing score
mean   69.695531      73.893855      74.418994


Средний балл студентов НЕ прошедших курс:
      math score  reading score  writing score
mean   64.077882      66.534268      64.504673

- Вывод: Исходя из среднего за предметы, результаты у людей, посещающих курсы, лучше

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [87]:
print(df['lunch'].unique())

['standard' 'free/reduced']

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [90]:
df=df.rename(columns={"parental level of education": "education", "test preparation course": "test preparation"})
df

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,group10,88,99,95
996,male,group C,high school,free/reduced,none,group10,62,55,55
997,female,group C,high school,free/reduced,completed,group10,59,71,65
998,female,group D,some college,standard,completed,group10,68,78,77
999,female,group D,some college,free/reduced,none,group10,77,86,86

**Зафиксируем минимальный балл для сдачи экзамена**

In [112]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark >= 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

- Сначала ответим на вопрос: Какая доля студентов сдала экзамен по математике (passmark >= 50)?

In [113]:
df1=df[df['math score']>=passmark]
print(f'Студентов сдало экзамен по математике: {df1.shape[0]/df.shape[0]*100}%')

Студентов сдало экзамен по математике: 86.5%

- Далее: Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?

Не совсем понятен вопрос о нахождении доли из всех или только из тех кто ходил на доп курсы. Посчитаю только для людей, которые посещали доп занятия

In [114]:
df1=df[df['test preparation']=='completed']
df2=df1[df1['math score']>=passmark]
print(f'Студентов, которые ходили на допы и сдали экзамен по математике: {df2.shape[0]/df1.shape[0]*100}%')

Студентов, которые ходили на допы и сдали экзамен по математике: 92.17877094972067%

- Cледующий вопрос: Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике


Также подсчитаю тольок долю для женщин которые проходили курс

In [115]:
df1=df[(df['test preparation']!='completed') & (df['gender']=='female')]
df2=df1[df1['math score']<passmark]
print(f'Женщин, которые НЕ ходили на допы и НЕ сдали экзамен по математике: {df2.shape[0]/df1.shape[0]*100}%')

Женщин, которые НЕ ходили на допы и НЕ сдали экзамен по математике: 20.958083832335326%

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [131]:
import time

- Для каждой этнической группы выведите средний балл за экзамен по чтению

In [237]:
start=time.time()
print(df[['race/ethnicity', 'reading score']].groupby(by="race/ethnicity").mean())
end=time.time()
print(f"\nЗатраченное время: {end-start}")

                reading score
race/ethnicity
group A             64.674157
group B             67.352632
group C             69.103448
group D             70.030534
group E             73.028571

Затраченное время: 0.008727788925170898

-  Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [238]:
start=time.time()
print(df[['education', 'writing score']].groupby(by="education").min())
end=time.time()
print(f"\nЗатраченное время: {end-start}")

                    writing score
education
associate's degree             35
bachelor's degree              38
high school                    15
master's degree                46
some college                   19
some high school               10

Затраченное время: 0.008536100387573242

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

- Для каждой этнической группы выведите средний балл за экзамен по чтению (c помощью цикла)

In [262]:
start=time.time()
r={}
x=tuple(df['race/ethnicity'].unique())
for i in range(len(x)):
    r[x[i]]=[0, 0]

for i in range(df.shape[0]):
    r[df["race/ethnicity"].iloc[i]][0]+=1 #количестсво 
    r[df["race/ethnicity"].iloc[i]][1]+=df["reading score"].iloc[i] # cумма оценок
        
for i in range(len(r)):
    print(f'Среднее в этнической группе {x[i]}: {r.get(x[i])[1]/r.get(x[i])[0]}')
    
end=time.time()
print(f"\nЗатраченное время: {end-start}")

Среднее в этнической группе group B: 67.35263157894737
Среднее в этнической группе group C: 69.10344827586206
Среднее в этнической группе group A: 64.67415730337079
Среднее в этнической группе group D: 70.03053435114504
Среднее в этнической группе group E: 73.02857142857142

Затраченное время: 0.03751397132873535

- Вывод: В данном случае groupby сработал быстрее

-  Для каждого уровня образования выведите минимальный балл за экзамен по письму (c помощью цикла)

In [263]:
start=time.time()
r1={}
mx=df['writing score'].max()
x=tuple(df['education'].unique())

for i in range(len(x)):
    r1[x[i]]=mx

for i in range(df.shape[0]):
    if df['writing score'].iloc[i] < r1[df["education"].iloc[i]]:
        r1[df["education"].iloc[i]]=df['writing score'].iloc[i]

for i in range(len(r1)):
    print(f'Минимальное в группе {x[i]}: {r1.get(x[i])}')        

end=time.time()
print(f"\nЗатраченное время: {end-start}")

Минимальное в группе bachelor's degree: 38
Минимальное в группе some college: 19
Минимальное в группе master's degree: 46
Минимальное в группе associate's degree: 35
Минимальное в группе high school: 15
Минимальное в группе some high school: 10

Затраченное время: 0.03021383285522461

- Вывод: В данном случае groupby сработал быстрее

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [240]:
pd.pivot_table(data=df, index=['gender','education'])

                           math score  reading score  writing score
gender education
female associate's degree   65.250000      74.120690      74.000000
       bachelor's degree    68.349206      77.285714      78.380952
       high school          59.351064      68.202128      66.691489
       master's degree      66.500000      76.805556      77.638889
       some college         65.406780      73.550847      74.050847
       some high school     59.296703      69.109890      68.285714
male   associate's degree   70.764151      67.433962      65.405660
       bachelor's degree    70.581818      68.090909      67.654545
       high school          64.705882      61.480392      58.539216
       master's degree      74.826087      73.130435      72.608696
       some college         69.009259      64.990741      63.148148
       some high school     67.840909      64.693182      61.375000

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [249]:
import numpy as np

In [260]:
df["Math_PassStatus"] = np.where(df["math score"]>=passmark, 'P', 'F')
df["reading_PassStatus"] = np.where(df["reading score"]>=passmark, 'P', 'F')
df["writing_PassStatus"] = np.where(df["writing score"]>=passmark, 'P', 'F')

print(f'Резултаты сдачи экзамена по математике: \n{df["Math_PassStatus"].value_counts()}')
print(f'\n\n\nРезултаты сдачи экзамена по чтению: \n{df["reading_PassStatus"].value_counts()}')
print(f'\n\n\nРезултаты сдачи экзамена по письму: \n{df["writing_PassStatus"].value_counts()}')

Резултаты сдачи экзамена по математике:
P    865
F    135
Name: Math_PassStatus, dtype: int64



Резултаты сдачи экзамена по чтению:
P    910
F     90
Name: reading_PassStatus, dtype: int64



Резултаты сдачи экзамена по письму:
P    886
F    114
Name: writing_PassStatus, dtype: int64

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [295]:
df["OverAll_PassStatus"] = np.where(((df["math score"]>=passmark) & (df["reading score"]>=passmark) &
                                     (df["writing score"]>=passmark)) , 'P', 'F')

print(f'Сдали все предметы: \n{df["OverAll_PassStatus"].value_counts()}')

Сдали все предметы:
P    812
F    188
Name: OverAll_PassStatus, dtype: int64

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####    больше 90 = A
####      80-90 = B
####      70-80 = C
####      60-70 = D
####      50-60 = E
####    меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

**В случае, если средний балл попадает на границу между оценками (т.е. равен ровно 60, 70 или 80 баллов), вы можете интерпретировать условие на своё усмотрение (т.е. можете поставить за 60 баллов оценку D, а можете - E).**

In [290]:
df = df[df.columns.drop("avg_three")]
df = df[df.columns.drop("final_mark")]
df

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score,Math_PassStatus,reading_PassStatus,writing_PassStatus,OverAll_PassStatus
0,female,group B,bachelor's degree,standard,none,group1,72,72,74,P,P,P,P
1,female,group C,some college,standard,completed,group1,69,90,88,P,P,P,P
2,female,group B,master's degree,standard,none,group1,90,95,93,P,P,P,P
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44,F,P,F,F
4,male,group C,some college,standard,none,group1,76,78,75,P,P,P,P
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,group10,88,99,95,P,P,P,P
996,male,group C,high school,free/reduced,none,group10,62,55,55,P,P,P,P
997,female,group C,high school,free/reduced,completed,group10,59,71,65,P,P,P,P
998,female,group D,some college,standard,completed,group10,68,78,77,P,P,P,P
999,female,group D,some college,free/reduced,none,group10,77,86,86,P,P,P,P

In [293]:
def GetGrade(average_mark):
    if average_mark<50:
        average_mark='F'
        return average_mark
    elif average_mark>=50 and average_mark<60:
        average_mark='E'
        return average_mark
    elif average_mark>=60 and average_mark<70:
        average_mark='D'
        return average_mark
    elif average_mark>=70 and average_mark<80:
        average_mark='C'
        return average_mark
    elif average_mark>=80 and average_mark<90:
        average_mark='B'
        return average_mark
    elif average_mark>=90:
        average_mark='A'
        return average_mark
    
    

df['avg_three']=(df['math score']+df['reading score']+df['writing score'])/3
df["Grade"]=df["avg_three"].apply(GetGrade)

print(f'Количество студентов и оценок: \n{df["Grade"].value_counts()}')

Количество студентов и оценок:
C    261
D    256
E    182
B    146
F    103
A     52
Name: Grade, dtype: int64